.row
  .large-3.columns
    = form_for @transaction, :remote => true do |f|
      = f.label :date
      = f.text_field :date, :autofocus => true
      = f.label :amt
      = f.text_field :amt
      = f.label :to
      = f.text_field :to_whom
      = button_tag :dep
      =button_tag :with
      / = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert'
      = f.submit 'Save', :class => 'button tiny radius success'
  .large-9.columns